<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="master.css" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/" method="post">
      <div>
        <input type="email" name="mail" placeholder="Email" required />
        <input type="password" name="pass" placeholder="Password" required />
        <button type="submit">Login</button>
      </div>
      <div>
        <div class="text">Do not have an account?</div>
        <a href="/sign-up">Sign up</a>
      </div>
    </form>
  </body>
</html>
